<div class="pulsating-box">
  Experience zone bookings will close on  Thursday 21st midnight. There are 15 slots each on first come first serve basis.
</div>
<div class="login-container">
  <div class="login-box">
    <h2>Conference Slot Booking</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="registrationNumber">Registration Number</label>
        <input 
          type="text" 
          id="registrationNumber" 
          [(ngModel)]="registrationNumber" 
          name="registrationNumber" 
          placeholder="Enter your registration number" 
          required />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input 
          type="text" 
          id="phoneNumber" 
          [(ngModel)]="phoneNumber" 
          name="phoneNumber" 
          placeholder="Enter your phone number" 
          required />
      </div>
      <button type="submit" class="btn-primary">Login</button>
    </form>
  </div>
</div>
<div class="number-box" >
  For any queries contact 8983934493
</div>